main .nav {
  display: flex;
  flex-flow: column wrap;
  border: 1px solid #eee;
  border-radius: 15px;
  padding: 20px 30px;
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  background-color: #222;
  z-index: 300;
  transition: all 0.7s;
}
main .nav button {
  padding: 15px 20px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  position: relative;
  line-height: 1.5;
}
main .nav button::after {
  height: 2px;
  background-color: #fff;
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transition: all 0.5s;
  width: 0;
}
main .navbg {
  border: 1px solid #eee;
  border-radius: 10px;
  width: 150px;
  height: 420px;
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  z-index: 299;
  transition: all 0.7s;
  background-color: #222;
}
main .navbg a {
  text-align: right;
  line-height: 420px;
  margin-right: 3px;
  display: block;
  cursor: pointer;
}
main .navbg a img {
  color: #fff;
  transform: rotate(180deg);
}
main .namecardpage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 100%;
  transition: all 1.5s;
}
main .profilepage {
  display: none;
  color: #fff;
  transition: all 1.5s;
}
main .profilepage .profilewrap {
}
main .profilepage .profilewrap1 {
  position: absolute;
  top: 25%;
  left: 20%;
}
main .profilepage .profilewrap1 > p > a {
  color: #fff;
  border: 1px solid #fff;
  padding: 5px 10px;
}
main .profilepage .profilewrap1 .effectcate {
  display: flex;
  margin-top: 15px;
}
main .profilepage .profilewrap1 .effectcate p .effect {
  color: #7c9070;
}
main .profilepage .profilewrap1 > p > a {
  color: #fff;
  border: 1px solid #fff;
  padding: 5px 10px;
}
main .profilepage .profilewrap2 {
  position: absolute;
  top: 45%;
  left: 20%;
}
main .profilepage .profilewrap2 h1 {
  margin-bottom: 20px;
}
* h1 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
}
main .profilepage {
  display: none;
  color: #fff;
  transition: all 1.5s;
}
li {
  line-height: 1.8;
  color: #fff;
}
main .profilepage .profilewrap2 .wrap2Container ul li h5 {
  margin-bottom: 10px;
  font-weight: 600;
}
