a {
  text-decoration: none;
  color: #000;
}
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
html {
  font-size: 10px;
}
body {
  width: 100%;
  overflow-x: hidden;
  line-height: 1.6;
  font-size: 1.6rem;
  font-family: "pretendard", "Malgun Gothic", sans-serif;
  color: #000;
  background-color: #fff;
}
element.style {
}

button {
  border: 0;
  cursor: pointer;
  background-color: transparent;
}
img {
  border: 0;
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "pretendard", "Malgun Gothic", sans-serif;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
p {
  margin: 1em 0;
}
img {
  border: 0;
  vertical-align: top;
}
